body {
	font:small normal Helvetica, sans-serif;
}

h1, p {
	margin:0 0 10px;
}

#link,
#content {
	border:1px solid #c00;
	margin: auto;
	padding:10px 10px 0;
	width: 500px;
}

#link {
	margin-bottom:10px;
	padding:0;
	text-align:center;
}

#link a {
	background-color:yellow;
	color:#c00;
	display:block;
	padding:10px;
}

#link a:hover {
	background-color:green;
	color:#fff;
	text-decoration:none;
}