/*
	Author		: Storm Creative
	Document		: IE9
	Created on	: dd-mm-yyyy
	Description	: Determines the design and layout of the website.
	Swatches		:
		#000000 = Black
*/

#contactus textarea {
	width: 281px;
}