/* 
    Document   : large
    Created on : 19-Feb-2009, 11:12:44
    Author     : Mark McDonnell
    Description:
        Make the text large and green
*/

body {
    font-size: 200%;
    color: green;
}

