/* 
    Document   : medium
    Created on : 19-Feb-2009, 11:12:44
    Author     : Mark McDonnell
    Description:
        Make the text medium and orange
*/

body {
    font-size: 150%;
    color: orange;
}

