<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>There was an error</title>
        <link rel="stylesheet" href="/Assets/Styles/test.css">
    </head>
    <body>
        <h1>This is my 404 page!</h1>
        <p>The page you requested doesn't exist</p>
    </body>
</html>