<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>There was a fatal error</title>
        <link rel="stylesheet" href="/Assets/Styles/test.css">
    </head>
    <body>
        <h1>This is my "fatal error" page</h1>
        <p>Some serious shit just went down!</p>
    </body>
</html>