<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Using Erb Templates - External to source code</title>
        <link rel="stylesheet" href="/Assets/Styles/test.css">
    </head>
    <body>
        <h2>Erb Templates - External to source code</h2>
        <%= yield %>
        <script src="/Assets/Scripts/test.js"></script>
    </body>
</html>